/*source file: tests/style1.scss*/
@mixin colors($text, $background, $border) {
  color: $text;
  background-color: $background;
  border-color: $border;
}
@function grid-width($n) {
  @return $n * $grid-width + ($n - 1) * $gutter-width;
}
/*source file: tests/style2.scss*/
$primary-color: #333;
$width: 5em;
